<head>
<link rel="stylesheet" href="css/style.css">
</head>

<body>
  <div class="about-section">
    <h1>About This APP</h1>
    <p>This is a MEAN app build on the top of js frameworks</p>
    <p>Frontend - Angular </p>
    <p>Backend - Nodejs </p>
    <p>DB - Mysql </p>
  </div>

  <h2 style="text-align:center">Developer</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="images/abhi.jpg" alt="Jane" style="width:100%">
        <div class="container">
          <h2>Abhishek gautam</h2>
          <p class="title">Full stack developer</p>
          <p>Passonate about innovation!</p>
          <p>099abhi@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>

    <!-- <div class="column">
      <div class="card">
        <img src="/w3images/team2.jpg" alt="Mike" style="width:100%">
        <div class="container">
          <h2>Mike Ross</h2>
          <p class="title">Art Director</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>mike@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div> -->

    <!-- <div class="column">
      <div class="card">
        <img src="/w3images/team3.jpg" alt="John" style="width:100%">
        <div class="container">
          <h2>John Doe</h2>
          <p class="title">Designer</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>john@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div> -->

  </div>
</body>
