<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <mat-toolbar>
        <span>LOGIN</span>
      </mat-toolbar>
      <mat-card>
        <form (submit)="onLogin(postForm)" #postForm="ngForm">
          <mat-form-field>
            <input
              matInput
              type="text"
              ngModel
              name="username"
              required
              minlength="1"
              placeholder="Username"
              #username="ngModel">
            <mat-error *ngIf="username.invalid">Please enter username!</mat-error>
          </mat-form-field>

          <mat-form-field>
            <input
              matInput
              type="password"
              ngModel
              name="password"
              required
              placeholder="Password"
              #password="ngModel">
            <mat-error *ngIf="password.invalid">Please enter password!</mat-error>
          </mat-form-field>
          <button mat-raised-button
                  type="submit"
                  color="primary">Login
          </button>
        </form>
        <div *ngIf="showErrorMsg"> <p style="color: red"> Login Failed!!</p></div>

      </mat-card>


    </div>
  </div>
</div>
