<div>
  <mat-card>
    <form (submit)="searchMovie(searchForm)" #searchForm="ngForm">
      <mat-form-field>
        <input
          matInput
          type="text"
          ngModel
          name="searchText"
          required
          minlength="1"
          placeholder="Search"
          #searchText="ngModel">
        <mat-error *ngIf="searchText.invalid">Please enter few Texts!</mat-error>
      </mat-form-field>
      <button mat-raised-button
              type="submit"
              color="primary">Search
      </button>
      <button mat-raised-button
              type="submit"
              color="primary" (click)="cancelSearch()">Reset
      </button>
    </form>

  </mat-card>
</div>


<div *ngIf="movies.length != 0">
  <div class="card" style="width: 18rem;" *ngFor="let movie of movies">

    <img class="card-img-top" [src]="movie.image_url" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{ movie.movie_title}}</h5>
      <p class="card-text">  {{ movie.movie_description}} </p>
      Ratings :
      <ngb-rating [max]="5" [(rate)]="movie.avg_ratings" [readonly]="true"></ngb-rating>


      <a class="btn btn-primary" (click)="showMovieDetails(movie.movie_id)">Show Details</a>

      <a *ngIf="userType == 'administrator'" class="btn btn-danger" (click)="deleteMovie(movie.movie_id)">Delete</a>

    </div>
  </div>
</div>


<div *ngIf="movies.length <= 0"> No Movies Found!</div>


